src/main/mule/githubactiondeploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1f092c7e-c5fc-476f-9dc2-072aaa50f398" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubactiondeployFlow" doc:id="6460ced8-924f-4ea6-b1b7-927a59648a34" >
		<http:listener doc:name="Listener" doc:id="9a18a30a-e8a8-462b-bbdf-d81a84862824" config-ref="HTTP_Listener_config" path="/pojoijfew"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fa11c9d1-b58a-4638-bba3-9597c2fba1ea" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ea107b1a-0ead-46a3-96ef-67ee0592cef8" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="da9dfe06-a1d4-45f2-9a4a-25ac8c9fccc1" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="faf15a02-89d3-475b-aab5-0af5c3cc510e" />
	</flow>
</mule>
